.products {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.products li {
    display: flex;
    justify-content: space-between;
    max-height: 75px;
    box-shadow: 2px 4px 20px 0px rgba(255, 255, 255, 0.8), 8px 8px 10px rgba(0, 0, 0, 0.2);
}

.product p, .product div {
    flex-basis: 35%;
}

.product-price {
    text-align: center;
}

.products img {
    height: 85px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.close-modal {
    display: block;
    margin-left: auto;
}